h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: #4A00E0;
    text-align: center;
    margin-top: 50px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    -webkit-background-clip: text;
    color: transparent;
  }
  